{{!< layout}} 


<div class="aui-page-panel-inner">
  <section class="aui-page-panel-item">
      <input class="hidden" id="todos-issue-key" value={{issueKey}}></input>

      <fieldset>
      <div class="group">
        <ol class="todo-list" id="todo-list">
        </ol>
      </div>
      <div class="group">
        <input class="text" type="text" name="description" id="description-input"></input>
        <span class="aui-icon aui-icon-small aui-iconfont-add" value="create" id="create-button"> Create </span>
      </div>
      </fieldset>
  </section>
  
  </div>
